$main=#1f7bff
$blue=#1f7bff
$red=#F45445
$orange=#FD7F11
$white=#ffffff
$black=#000000
$green=#00C4A4
$yellow=#F8BA1B
$purple=#7F3BEF
$fontMain=#333333
$fontSub1=#666666
$fontSub2=#999999
$placeholder=#cccccc
$bdColor=#dddddd
$lineColor=#eeeeee
$bg=#f8f8f8
$light=#F3F3F3
$fontYellow=#EF8C3B
$header=#495563
$companyBg=#F9FBFF
$lineBd=#eeeeee