@font-face
  font-family Condensed
  src url('../assets/font/DIN Condensed Bold.ttf')
@font-face
  font-family BEBAS
  src url('../assets/font/BEBAS.ttf')
@font-face
  font-family TitleBlack
  src url('../assets/font/优设标题黑.ttf')
html,bod
  // background $bg
  min-height 100%
.container
  min-width 1200px
  max-width 1200px
  margin 0 auto  
.flex_all
  display flex
  justify-content center
  align-items center
.flex_jc
  display flex
  justify-content center
.flex_ai
  display flex
  align-items center
.mb20
  margin-bottom 20px
.mt20
  margin-top 20px
.ml20
  margin-left 20px
.mr20
  margin-right 20px
.line_all
  border 1px solid $lineColor
.line_t
  border-top 1px solid $lineColor
.line_l
  border-left 1px solid $lineColor
.line_r
  border-right 1px solid $lineColor
.line_b
  border-bottom 1px solid $lineColor
.text_hidden
  overflow hidden
  text-overflow ellipsis
  white-space nowrap